<!-- ここにdataから情報を持ってくる機能をいれたい -->
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<style>
  table{
      border-collapse: collapse;
      width:100%
  }
  td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
  }
  th {
      color:white;
      background-color: #1E90FF;
  }
</style>
<body>
  <div id="app">
    <h1>{{ message }}</h1>
    <div>検索：<input type="text" v-model="search"></div>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Website</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="user in search_users" :key="user.id">
          <td v-html="highlight(user.name)"></td>
          <td v-html="highlight(user.name)"></td>
          <td v-html="highlight(user.name)"></td>
        </tr>
      </tbody>
    </table>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script>
    new Vue({
      el:"#app",
      data:{
        message: "Search/Filter In Table",
        users:[],
        search:"",
      },
      mounted(){
        axios.get("https://jsonplaceholder.typicode.com/users")
        .then(response => this.users = response.data)
      },
      computed:{
        search_users(){
          let searchWord = this.search.trim()
          if (searchWord === '') return this.users;
          return this.users.filter(user => {
            return user.name.includes(searchWord) ||
            user.email.includes(searchWord) ||
            user.website.includes(searchWord)
          })
        }
      },
      methods:{
        highlight(text){
          let searchWord = this.search.trim()
          if (searchWord === "")return text
          if(!text.includes(searchWord)) return text
          const re = new RegExp(searchWord, "ig");
          return text.replace(re,function(search){
            return '<span style="background-color:yellow;font-weight:bold;">'+ search + '</span>'
          })
        }
      }
  })
  </script>
</body>
</html>